{% extends 'app/base.html' %}
{% load static %}

{% block content %}
<h2> Signup </h2>

<form method="post">
    {% csrf_token %}
    <div class="container">
        <label for="username">Username</label>
        <input type="text" placeholder="Enter your username" name="username" required>
        {% if form.username.errors %}
            <p style="color: red;">{{ form.username.errors.0 }}</p>
        {% endif %}
        <br>
        <br>
        <label for="password1">Password</label>
        <input type="password" placeholder="Enter your password" name="password1" required>
        {% if form.password1.errors %}
            <p style="color: red;">{{ form.password1.errors.0 }}</p>
        {% endif %}
        <br>
        <br>
        <label for="password2">Password</label>
        <input type="password" placeholder="Re-enter your password" name="password2" required>
        {% if form.password2.errors %}
            <p style="color: red;">{{ form.password2.errors.0 }}</p>
        {% endif %}
        <br>
        <br>
        <label for="phone_number">Phone Number</label>
        <input type="text" placeholder="Enter your phone number" name="phone_number" required>
        {% if form.username.errors %}
            <p style="color: red;">{{ form.username.errors.0 }}</p>
        {% endif %}
        <br>
        <br>
        <label for="age">Age</label>
        <input type="text" placeholder="Enter your age" name="age" required>
        {% if form.username.errors %}
            <p style="color: red;">{{ form.username.errors.0 }}</p>
        {% endif %}
        <br>
        <br>
    </div>

    <button type="submit">Sign up</button>
</form>


{% endblock content %}