{% extends 'app/base.html' %}
{% load static %}
{% block content %}

<img src="{% static 'images/molino.png' %}"class="images">

<div class="hero-section">
        <!-- Overlay Text -->
        <h1 class="hero-text">Welcome to Bacoor Cares</h1>
        <div class="hero-section-about">
        <p> 
        Bacoor Cares is a community-based nonprofit organization dedicated <br>
        to providing assistance to individuals and families in need. <br>
        We strive to create a supportive community where everyone feels heard and valued. </p>
        <br>
        </div>
        
</div>
{% endblock content %}